---
layout: layouts/layout.html
---
<div class="container mx-auto px-24 pt-24">
  <div class="flex flex-col md:flex-row">
    <div class="flex flex-col mr-24">
      <h1 class="text-6xl font-bold leading-[1.1] md:text-5xl font-alata mb-4">Blog</h1>
      <p class="pt-4 text-base leading-8 font-light text-gray-900 opacity-90">
        This is where I (plan to) write about stuff. I'll have more to say here once I've actually written something.
      </p>
    </div>
    <div class="md:w-48 flex flex-col">
      <h1 class="text-6xl font-bold leading-[1.1] md:text-5xl font-alata mb-4 text-slate-500">Tags</h1>
    </div>
  </div>
</div>
