---
layout: layouts/layout.html
numberOfLatestPostsToShow: 2
numberOfLatestPostsToShowInWords: Two
---
{% comment %} {% include 'sections/hero.html' %} {% endcomment %}

<div class="container mx-auto px-4">
  <section>
    <div
      class="mx-auto flex max-w-5xl flex-col items-center gap-12 py-6 md:flex-row md:py-12 md:space-x-8"
    >
      <img src="/assets/images/me.png" alt="" class="max-h-[20rem] rounded-lg">
      <div>
        <h1 class="text-6xl font-bold leading-[1.1] md:text-5xl font-alata mb-4">Hi, I'm Nish</h1>
        <p class="pt-4 text-base leading-8 font-alata font-light text-text-light opacity-80">
          I'm a Computer Science Masters student at the University of Southern California, in the Honors Program. I've
          enjoyed working on many tough engineering problems - from designing machine learning experiments, to
          implementing distributed key-value databases, and building full-stack web applications. I'm as excited about
          building great products as I am about low-level systems engineering.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div
      class="mx-auto mt-12 mb-6 flex flex-col space-y-6 md:flex-row md:space-x-36 md:space-y-0"
    >
      <div class="order-last flex-1 md:order-first">
        {% render 'components/section-header-component.liquid', title: 'Projects' %}

        {% render 'components/project-component.liquid',
          title: 'weenix',
          description: 'I built an operating system kernel in C, implementing low
      level subsystems such as processes and threads, a virtual filesystem, and
      virtual memory with paging and pagefault handling.',
          img_src: '/assets/images/projects/weenix-sq.png',
          tags: 'C,Unix/Linux',
          github: 'http://www.example.com',
          demo: 'http://www.ntharani.com'
        %}

        {% render 'components/project-component.liquid',
          title: 'animated sudoku',
          description: "I found two things interesting while making this basic
      Sudoku web app. 1) Generating Sudoku puzzles guaranteed to have a single
      unique solution, which I did by generating a random solved grid and then
      clearing cells one by one, making sure a unique solution remained. 2) It
      animates the backtracking algorithm used to solve the puzzle, and it's
      cool to see how the time taken to solve has such high variance. ",
          img_src: '/assets/images/projects/sudoku.gif',
          tags: 'Python (Flask),JavaScript',
          github: 'http://www.example.com',
          demo: 'http://www.ntharani.com'
        %}
      </div>
      <div class="order-first flex-1 md:order-last">
        {% assign blogPostsTitle = numberOfLatestPostsToShowInWords | append: ' Recent Blog Posts' %}
        {% render 'components/section-header-component.liquid', title: blogPostsTitle %}
        {% assign postsToShow = collections.post | head: numberOfLatestPostsToShow | reverse %}
        {% for post in postsToShow %}
          <h2 class="text-2xl text-red-900">{{ post.data.title }}</h2>
          <p>{{ post.content }}</p>
        {% endfor %}
      </div>
    </div>
    <div
      class="mx-auto mt-6 flex flex-col space-y-6 md:flex-row md:space-x-36 md:space-y-0"
    >
      <div class="flex-1">
        {% render 'components/section-header-component.liquid', title: 'Experience' %}

        {%
          render 'components/experience-component.liquid',
          forwho: 'Information Sciences Institute (VIMAL Lab)',
          dates: 'Jan 2022 - Aug 2022',
          role: 'Student Researcher',
          description_top: 'I worked on multiple DARPA-sponsored projects as an AI researcher in the field of computer vision. Some stuff I did:',
          description_list: 'Researched the development of deep computer vision models that are robust to adversarial attacks.|
          Built a machine learning pipeline to protect images of faces from biometric scraping, with imperceptible changes to the images.|
          Improved research efficiency by developing modular and reusable components that integrate with PyTorch.',
        %}
      </div>
      <div class="flex-1">
        {% render 'components/section-header-component.liquid', title: 'About Me' %}

        {% render 'components/aboutme-component.liquid', aboutme: 'ASL?|
      [Redacted], M, Los Angeles||
      ' %}
      </div>
    </div>
  </section>
</div>
