---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/layout.html
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<div class="container mx-auto px-36 pt-24">
  <h1 class="text-6xl font-bold leading-[1.1] md:text-5xl font-alata mb-12">Tagged “{{ tag }}”</h1>

  {% assign postslist = collections[tag] %}
  {% for post in postslist %}
    {%
      render 'components/blogpost-component.liquid',
      url: post.url,
      title: post.data.title,
      date: post.date,
    %}
  {% endfor %}
</div>
