<section>
  <div
    class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 py-6 md:grid-cols-2 md:py-12"
  >
    <img src="/assets/images/me.png" alt="" class="max-h-[20rem]" />
    <div>
      <h1 class="text-4xl font-bold leading-[1.1] md:text-5xl">Hi, I'm Nish</h1>
      <p class="pt-4 text-lg leading-[1.5]">
        I'm a Computer Science Masters student at the University of Southern
        California, in the Honors Program. I came to CS after initially studying
        Economics, and I've developed a love for computers while retaining the
        'soul of an economist' (sorry). I've enjoyed working on many tough
        engineering problems, from designing machine learning experiments to
        implementing distributed key-value databases. However, I remain
        unenthused by graphics stuff (for now).
      </p>
    </div>
  </div>
</section>
