<div class="font-semibold my-1 text-center md:text-left">
  {% for tag in tags %}
    <span class="inline-block bg-gray-200 text-gray-900 px-2 rounded-full text-sm">{{ tag }}</span>
  {% endfor %}
</div>
